@import 'tailwindcss';

body{
  position: relative;
  font-family: "Outfit", sans-serif;
  color: white;
}


.note_scroll::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}

.note_scroll::-webkit-scrollbar-track {
  background: #121212;
}

body::-webkit-scrollbar-track{
  background: #050505;
}

.note_scroll::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 4px;
  cursor: pointer;
}

.note_scroll::-webkit-scrollbar-thumb{
  background: #ffb72d;
}